<a href="/bdd/affichage/professeur"><button class="btn btn-primary">Liste de Professeur</button></a>
<a href="/bdd/affichage/classe"><button class="btn btn-primary">Liste des eleves</button></a>
<a href="/bdd"><button class="btn btn-primary">Ajouter Des données</button></a>